@import "tailwindcss";

:root {
  color-scheme: light;
}

body {
  color: #0f172a;
  background-color: #f8fafc;
}

/* Hide default browser password reveal button */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
}